https://manabie.atlassian.net/wiki/spaces/qah/pages/2331312239/QA+Test+Report+For+Renseikai+-+Mar+2+2026+Release

https://manabie.atlassian.net/wiki/spaces/AP/pages/2365063169/2026-03-02+Monthly+Release+Review
